# -----------------------
# Java / Spring Boot
# -----------------------
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp

# Ignore IDE files
.idea/
.vscode/
*.swp
*.DS_Store

# Maven / Gradle
.mvn/
.mvn/wrapper/maven-wrapper.jar
.gradle/
build/

# Application properties (sensitive configs)
email-writer-sb-gemini/src/main/resources/application.properties
application.yml
application-*.yml

# -----------------------
# React / Node.js
# -----------------------
node_modules/
build/
dist/
.npm/
.env
.env.* 

# -----------------------
# OS / Misc
# -----------------------
Thumbs.db
.DS_Store
helloworld-ext/
